
header .content{
display: flex;
flex-direction: row;
align-items: end;
justify-content: space-between;
padding:10px;
}

.logo{
    margin-bottom:-10px;
}

.logo img{
    max-width:200px;
}

.searchbar-box{
    border:1px solid #fff;
    width:fit-content;
    border-radius:20px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0px 10px;
    height: 55px;
}
.searchbar-box input{
background:transparent;
box-shadow:none;
border:none;
Color:#fff;
font-size: 14px;

}

.searchbar-box button{
    background:transparent;
    border:0px;
    box-shadow:0px;
}

.searchbar-box img{
    max-width:33px;
}

.hero img{
    max-width:90%;
}

/* #region Card */


.cards-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-box{
    width:336px;
    border-radius:40px;
    border:1px solid rgba(255,255,255, 0.2);
    box-shadow:
    0 6px 24px rgba(0, 0, 0, 0.25),
    inset 0 1px 6px rgba(255, 255, 255, 0.25);
    padding:25px;
    display:flex;
    flex-direction: column;
    
    margin:10px;
}

.card-box h3{
    font-size: 2rem;
    text-align: left;
    margin-bottom:15px;
}
.card-footer{
    display:flex;
    justify-content: flex-end;
    align-items: end;
    height:65px;
    margin-top:75px;

}
.card-number {
    width:40%;
}
.card-number p{
    font-size: 64px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.25);
}

.card-image{
    width:60%;
}
.card-image img{
    position: relative;
    max-width: 100%;
}




/* #region Card Colors */

.card-box.grass-card{
    background-color: var(--grass-primary);
}

.card-box.fire-card{
    background-color: var(--fire-primary);
}

.card-box.aqua-card{
    background-color: var(--aqua-primary);
}

.card-box.stone-card{
    background-color: var(--stone-primary);
}

.card-box.electric-card{
    background-color: var(--stone-primary);
}

/* #endregion Card Colors */

/*#endregion Card*/


/* #region Dialog */
.dialog-box{
    display: inline-block;
    width:320px;
    border-radius:40px;
    border:1px solid rgba(255,255,255, 0.2);
    box-shadow:
    0 6px 24px rgba(0, 0, 0, 0.25),
    inset 0 1px 6px rgba(255, 255, 255, 0.25);
    padding:25px 15px;
}

.dialog-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.dialog-head button{
    background:transparent;
    Border:0px;
    cursor: pointer;
}

.dialog-header li{
    display: inline;
}

.dialog-title{
    font-size: 42px;
    margin-bottom: 15px;
}

.dialog-hero{
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    margin-top:30px;
}

.sound-btn{
    background: transparent;
    border: 0px;
    cursor: pointer;
    width:10%;
}
.dialog-image{
    width:90%;
    margin-bottom: -25px;
}

.dialog-content{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding:10px;
}

.dialog-navigation{
    width: 100%;
    border-radius: 20px;
    border:1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-navigation button{
    padding:10px 15px;
    border-radius: 20px;
    transition: all 0.3s;
    background:transparent;
}

.dialog-navigation button.active {
    background: var(--gradient);
    box-shadow:
        0 6px 24px rgba(0, 0, 0, 0.15),
        inset 0 1px 6px rgba(255, 255, 255, 0.15);
}

.dialog-navigation button:hover {
    background: var(--gradient);
}

/* #region About/Basics */

.basics-box{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:16px;
}

.basic-box{
    background: #fff;
    border-radius: 20px;
    width: clamp(300px, 33%, 600px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin:25px 0px
    
}

.basic-content{
    color:#3A3C3B;
}

.basic-content p{
    font-size:20px;
    font-weight:500;
    text-align: center;
}

.basic-content .basic-desc{
    font-size:14px;
    font-weight:200;
    text-align: center;
}

.basic-box img{
    width:63px;
    height:52px;
    margin-top:-26px;
}

.star-box{
    background:url(../assets/img/abilities-bg.png) no-repeat center center / cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding:20px 10px 10px 10px;
    align-items: center;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25), inset 0 1px 6px rgba(255, 255, 255, 0.25);
    margin-top:10px;
}

.star-box-content{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 100%;
    height:70px;
}

.star-box ul li{
    list-style-type: none;
    font-size:20px;
    font-weight:500;

}

.star-box img{
    max-width:90px;
    position: relative;
    top:-30px;
    left:-20px;
    margin-right:10px;
}

.star-box p{
    font-weight:300;
}

.basics-footer{
    margin:25px 0px;
}

.breeding-item{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-bottom:5px;
}

.breeding-key{
    width:40%;
    font-weight:300;
    font-size:14px;
}

.breeding-value{
    width:60%;
    font-size:16px;
    font-weight:500;
}

.breeding-value span{
   margin-right:10px;
}

/* #endregion About/Basics */

/* #region stats */

.stats-box{
    margin:20px 0px;
}

.stats-item{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:10px 0px;
}
.stats-item label {
  padding-right: 10px;
  font-size: 1rem;
  font-weight:300;
  width:20%;
}

.stats-item span{
width:10%;
font-size:20px;
font-weight:500;
}
.stat-bar {
    margin-left:5px;
    width: 70%;
    height: 8px;
    background: rgba(255,255,255,.15);
    border-radius: 999px;
    overflow: show;
}

.stat-fill {
    height: 100%;
    border-radius: 999px;
    position: relative;
    background: var(--gradient);
}

.stat-fill::after {
    content: "";
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 4px solid;
     border-color: var(--secondary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
/* #endregion stats */

/* #region Dialog Backgrounds */
.dialog-box.grass-dialog{background:url(../assets/img/grass-background.png) no-repeat center center / cover;}
.dialog-box.fire-dialog{background:url(../assets/img/fire-background.png) no-repeat center center / cover;}
.dialog-box.stone-dialog{background:url(../assets/img/stone-background.png) no-repeat center center / cover;}
.dialog-box.aqua-dialog{background:url(../assets/img/aqua-background.png) no-repeat center center / cover;}
.dialog-box.electric-dialog{background:url(../assets/img/electric-background.png) no-repeat center center / cover;}
/* #endregion Dialog Backgrounds */



/* #region evolution */

.evolution-box{
    margin: 20px 0px;
}

.evolution-item{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.evolution-content{
    width:40%;
}

.evolution-content span{
    font-weight:300;
}

.evolution-item img{
    max-width:130px;
}

.level-box{
    background: var(--secondary-color);
    color:#fff;
    border-radius: 10px;
    padding:3px 10px;
    display: inline;

}
.next-evolution{
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}

.evolution-arrow{
    width:60%;
    display: flex;
    justify-content: center;
}

/* #endregion evolution */


/* #region Dialog BottomNav */
.dialog-bottom-nav ul{
display: flex;
justify-content: center;
margin:20px 0px;
}
.dialog-bottom-nav ul li{
    list-style-type: none;
    display: inline;
    padding:5px;
}
/* #endregion Dialog BottomNav */

/* #endregion Dialog */





/* #region Responsive */
@media only screen and (max-width: 480px) {

    header .content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .searchbar-box{
        width:100%;
        margin-bottom:20px;
    }

    .logo{
        margin:10px 0px;
    }

    .hero{
        display: none;
    }

    .card-box{
        margin:10px 0px;
    }

    .basic-content p{
    font-size:16px;
}
}

/* #endregion */